.form_container {
  display: grid;
  grid-template-rows: 1fr 1fr 4em 5em 9em;
}

.email {
  grid-area: 1;
  align-self: center;
}

.password {
  grid-area: 2;
  align-self: center;
}

.error {
  grid-area: 3;
  color: var(--red-color);
  font-size: 1.6em;
  align-self: center;
}

.button {
  grid-area: 4;
  align-self: flex-end;
}

.register {
  grid-area: 5;
  align-self: flex-start;
}

.text {
  font-size: 2em;
  padding-bottom: .4em;
  padding-top: 1.6em;
}

.signup {
  color: var(--salmon-color);
}

.btnRegister {
  background-color: var(--background-color);
  color: var(--salmon-color);
  border: .1em solid var(--salmon-color);
}

.btnRegister:hover {
  background-color: var(--salmon-color);
  border-color: var(--salmon-color);
}

.or {
  width: 100%;
  height: 2em;
  font-size: 1.6em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center; 
}