.div {
  position: fixed;
  /* cursor: url('/assets/img/1x/redCircle.png'), auto; */
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading p {
  font-size: 5em;
  color: white;
}
