@font-face {
  font-family: "radikal";
  src: url(/assets/fonts/radikal_light.woff2) format("woff2"), url(/assets/fonts/radikal_light.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "radikal";
  src: url(/assets/fonts/radikal_medium.woff2) format("woff2"), url(/assets/fonts/radikal_medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "domainedisp";
  src: url(/assets/fonts/DomaineDisp-Semibold.woff2) format("woff2"), url(/assets/fonts/DomaineDisp-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "domainedisp";
  src: url(/assets/fonts/DomaineDisp-Regular.woff2) format("woff2"), url(/assets/fonts/DomaineDisp-Regular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

.div {
  position: fixed;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerPercent {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-32px, 10px);
}

.containerPercent p {
  font-size: 4em;
  color: #000;
  font-weight: 400;
}

.question_input {
  width: 10rem;
}

.question {
  transform-origin: center;
}

.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  transform: translate(12px, -30px);
}

.cube1, .cube2 {
  background-color: #000;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(126px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(126px) translateY(126px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(126px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(126px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(126px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(126px) translateY(126px) rotate(-179deg);
    -webkit-transform: translateX(126px) translateY(126px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(126px) translateY(126px) rotate(-180deg);
    -webkit-transform: translateX(126px) translateY(126px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(126px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(126px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transform: scale(0);
  transition: .3s transform ease-in-out;
}

.buttonPopup {
  composes: button from "../../styles/uiControls.module.css";
  width: 22em;
  height: 7em;
}

.buttonPopup:hover {
  border-color: black;
}

.buttonPopup p {
  font-family: domainedisp;
  font-size: 3.4em;
  font-weight: 300;
}

.ja {
  background-color: transparent;
}

.neen {
  border: .1em solid #E63B44;
}

.contentPopup {
  width: calc(100vw*.712);
  height: calc(100vh*.79);
  background-image: url('/assets/img/--b_VRAGEN-1-popup.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  text-align: center;
  display: grid;
  grid-template-rows: 6em calc(100vh*.79*.2) calc(100vh*.79*.25) calc(100vh*.79*.35);
  grid-template-columns: calc(100vw*.712);
}

.cross {
  width: 13em;
  height: 4em;
  background-image: url('/assets/img/cross.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 1/1;
  justify-self: flex-end;
  z-index: 200;
}

.popupTitle {
  font-family: domainedisp;
  font-size: 8em;
  font-weight: 600;
  grid-area: 2/1;
  justify-self: center;
}

.popupText {
  width: 85%;
  line-height: 1.6;
  font-family: radikal;
  font-size: 2.2em;
  grid-area: 3/1;
  justify-self: center;
}

.popupText span {
  font-weight: 400;
}

.containerButtonsPopup {
  width: 61em;
  grid-area: 4/1;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.iconscroll,
.iconscroll:before{
  position: absolute;
  left: 50%;
}


.iconscroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 80rem;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
}
.iconscroll:before{
   content: '';
   width: 8px;
   height: 8px;
   background: #000;
   top: 8px;
   border-radius: 4px;
   margin-left: -4px;
   animation: scroll infinite 1.5s;
 }


@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }

}