.containerLabels {
  display: flex;
  flex-flow: row;
}

.label {
  width: 16em;
  display: flex;
  flex-flow: column;
}

.param {
  width: 8em;
}

.add {
  composes: button from "../../styles/uiControls.module.css";
  width: 12em;
  height: 3em;
}

.add p {
  font-size: 1.2em;
}

.label span {
  font-size: 1.4em;
}