.containerLabels {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.label {
  width: 18em;
  display: flex;
  flex-flow: column;
  
}

.param {
  width: 8em;
}

.add {
  composes: button from "../../styles/uiControls.module.css";
  width: 14em;
  height: 3em;
  text-transform: uppercase;
}

.add p {
  font-size: 1.2em;
}

.input {
  composes: input from "../../styles/uiControls.module.css";
  padding-right: 2em;
}