.containerLabels {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  padding: 3em 0em 0em 5em;
}

.button {
  composes: button from "../../styles/uiControls.module.css";
  width: 8em;
  height: 2.4em;
  text-transform: uppercase;
}

.button p {
  font-size: 1.2em;
}

.update {
  margin-right: 1.2em;
}

.input {
  width: 10em;
  composes: input from "../../styles/uiControls.module.css";
  margin-right: 1.2em;
}

.param {
  width: 3em;
}

.line {
  width: .1em;
  height: 2.4em;
  border-right: .1em solid var(--dark-color);
  margin-right: 2em;
}